/.vs/UploadDHL/v16/.suo
/.vs/UploadDHL/v16/Server/sqlite3/db.lock
/.vs/UploadDHL/v16/Server/sqlite3/storage.ide
/.vs/UploadDHL/v16/Server/sqlite3/storage.ide-shm
/.vs/UploadDHL/v16/Server/sqlite3/storage.ide-wal
/UploadDHL.sln.DotSettings.user
/.vs/UploadDHL/v14/.suo
/UploadDHL/obj/Debug/UploadDHL.csprojResolveAssemblyReference.cache
/UploadDHL/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/UploadDHL/obj/Debug/*
/UploadDHL/obj/Debug/*
/UploadDHL/bin/Debug/UploadDHL.pdb
/.vs/UploadDHL/v14/.suo
/UploadDHL/bin/Debug/UploadDHL.vshost.exe.manifest
